.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar img {
  width: 250px;
}

.error {
  color: #b94150;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}
